@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
html{
  font-size: 62.5%;
}
body{
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #f7f7f7;
}
.wrapper{
  background: #fff;
  width: 45rem;
  border-radius: 1.6rem;
  box-shadow: 0 0 12.8rem 0 rgba(0,0,0,0.1),
              0 3.2rem 6.4rem -4.8rem rgba(0,0,0,0.5);
}
/* The signup form styling */
.form{
  padding: 2.5rem 3rem;
}
.form header{
  font-size: 2.5rem;
  font-weight: 600;
  padding-bottom: 1rem;
  border-bottom: .1rem solid #e6e6e6;
}
.form form{
  margin: 2rem 0;
}
.form form .error-text{
  color: #721c24;
  background: #f8d7da;
  padding: .8rem 1rem;
  text-align: center;
  border-radius: .5rem;
  margin-bottom: 1rem;
  border: 1px solid #f8d7da;
  display: none;
}
.form form .name-details{
  display: flex;
}
form .name-details .field:first-child{
  margin-right: 1rem;
}
form .name-details .field:last-child{
  margin-left: 1rem;
}
.form form .field{
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.form form .field label{
  margin-bottom: .2rem;
}
.form form .field input{
  outline: none;
}
.form form .input input{
  height: 4rem;
  width: 100%;
  font-size: 1.6rem;
  padding: 0 1rem;
  border: .1rem solid #ccc;
  border-radius: .5rem;
}
.form form .image input{
  font-size: 1.7rem;
}
.form form .button input{
  margin-top: 1.3rem;
  height: 4.5rem;
  border: none;
  font-size: 1.7rem;
  font-weight: 400;
  background: #333;
  color: #fff;
  border-radius: .5rem;
  cursor: pointer;
}
.form form .field i{
  position: absolute;
  right: 1.5rem;
  color: #ccc;
  top: 70%;
  transform: translateY(-50%);
  cursor: pointer;
}
.form form .field i.active::before{
  color: #333;
  content: "\f070";
}
.form .link{
  text-align: center;
  margin: 1rem 0;
  font-size: 1.7rem;
}
.form .link a{
  color: #333;
}
.form .link a:hover{
  text-decoration: underline;
}
/* styling of the users page */
.users{
  padding: 2.5rem 3rem;
}
.users header,
.users-list a{
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
  justify-content: space-between;
  border-bottom: .1rem solid #e6e6e6;
}
.wrapper img{
  object-fit: cover;
  border-radius: 50%;
}
:is(.users, .users-list) .content{
  display: flex;
  align-items: center;
}
.users header .content img{
  height: 5rem;
  width: 5rem;
}
:is(.users, .users-list) .details{
  color: #000;
  margin-left: 1.5rem;
}
:is(.users, .users-list) .details span{
  font-size: 1.8rem;
  font-weight: 500;
}
.users header .logout{
  color: #fff;
  font-size: 1.7rem;
  background: #333;
  padding: .7rem 1.5rem;
  border-radius: .5rem;
}
.users .search{
  margin: 2rem 0;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.users .search .text{
  font-size: 1.8rem;
}
.users .search input{
  position: absolute;
  height: 4.2rem;
  width: calc(100% - 5rem);
  border: .1rem solid #ccc;
  padding: 0 1.3rem;
  font-size: 1.6rem;
  border-radius: .5rem;
  outline: none;
  border-radius: .5rem 0 0 .5rem;
  opacity: 0;
  pointer-events: none;
  transition: all .2s ease;
}
.users .search input.active{
  opacity: 1;
  pointer-events: auto;
}
.users .search button{
  width: 4.7rem;
  height: 4.2rem;
  border: none;
  outline: none;
  color: #333;
  background: #fff;
  font-size: 1.7rem;
  cursor: pointer;
  border-radius: 0 .5rem .5rem 0;
  transition: all .2s ease;
}
.users .search button.active{
  color: #fff;
  background: #333;
}
.users .search button.active i::before{
  content: '\f00d';
}
.users-list{
  max-height: 35rem;
  overflow-y: auto;
}
:is(.users-list, .chat-box)::-webkit-scrollbar{
  width: 0;
}
.users-list a{
  padding-right: 1.5rem;
  break-after: 1rem;
  margin-bottom: 1.5rem;
  border-bottom-color: #f1f1f1;
}
.users-list a .content img{
  height: 4rem;
  width: 4rem;
}
.users-list a .content p{
  color: #67676a;
}
.users-list a .status-dot{
  font-size: 1.2rem;
  color: #468669;
}
/* A class to show the offline status of a particular user */
.users-list a .status-dot.offline{
  color: #ccc;
}
/* Styling of the chat page */
.chat-area header{
  display: flex;
  align-items: center;
  padding: 1.8rem 3rem;
}
.chat-area header .back-icon{
  font-size: 1.8rem;
  color: #333;
}
.chat-area header img{
  height: 4.5rem;
  width: 4.5rem;
  margin: 0 1.5rem;
}
.chat-area header span{
  font-size: 1.7rem;
  font-weight: 500;
}
.chat-box{
  height: 50rem;
  overflow-y: auto;
  background: #f7f7f7;
  padding: 1rem 3rem 2rem 3rem;
  box-shadow: inset 0 3.2rem 3.2rem -3.2rem rgb(0 0 0 / 5%),
              inset 0 -3.2rem 3.2rem -3.2rem rgb(0 0 0 / 5%);
}
.chat-box .chat{
  margin: 1.5rem 0;
}
.chat-box .chat p{
  word-wrap: break-word;
  padding: .8rem 1.6rem;
  box-shadow: 0 0 3.2rem rgb(0 0 0 / 8%),
              0 1.6rem 1.6rem -1.6rem rgb(0 0 0 / 10%);
}
.chat-box .outgoing{
  display: flex;
}
.outgoing .details{
  margin-left: auto;
  max-width: calc(100% - 13rem);
}
.outgoing .details p{
  background: #333;
  color: #fff;
  border-radius: 1.8rem 1.8rem 0 1.8rem;
}
.chat-box .incoming{
  display: flex;
  align-items: flex-end;
}
.chat-box .incoming img{
  width: 3.5rem;
  height: 3.5rem;
}
.incoming .details{
  margin-left: 1rem;
  margin-right: auto;
  max-width: calc(100% - 13rem);
}
.incoming .details p{
  background: #fff;
  color: #333;
  border-radius: 1.8rem 1.8rem 1.8rem 0;
}
.chat-area .typing-area{
  padding: 1.8rem 3rem;
  display: flex;
  justify-content: space-between;
}
.typing-area input{
  height: 4.5rem;
  width: calc(100% - 5.8rem);
  font-size: 1.7rem;
  border: .1rem solid #ccc;
  padding: 0 1.3rem;
  border-radius: .5rem 0 0 .5rem;
  outline: none;
}
.typing-area button{
  width: 5.5rem;
  border: none;
  outline: none;
  background: #333;
  color: #fff;
  font-size: 1.9rem;
  cursor: pointer;
  border-radius: 0 .5rem .5rem 0;
}
.error{
  color: #ff0000;
  font-size: 1.5rem;
}